<div class="hero">
    <div class="container">
        <div class="form-box rounded-3" style="padding: 20px;">
            <div class="row">
                <span class="fs-3">Subscribe Books</span>
            </div>
            <table class="table table-bordered mt-5">
                <thead>
                    <tr *ngIf="bookDetails!=null">
                        <th>Book Logo</th>
                        <th>Book Id</th>
                        <th>Book Name</th>
                        <th>Author</th>
                        <th>Author Id</th>
                        <th>category</th>
                        <th>Price</th>
                        <th>Publisher</th>
                        <th>Active</th>
                        <th>Subscribe</th>
                        <th>Unsubscribe</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    <tr *ngFor="let book of bookDetails">
                        <td><img src="{{book.logo}}" alt="Book_logo" style="width:50px;height:60px;"></td>
                        <td>{{book.bookId}}</td>
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.authorId}}</td>
                        <td>{{book.category}}</td>
                        <td>{{book.price}}</td>
                        <td>{{book.publisher}}</td>
                        <td>{{book.active}}</td>
                        <td>
                            <button type="button" class="btn btn-success" value="Subscribe"
                                (click)="subscribeBook(book)">Subscribe</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" value="Unsubscribe"
                                (click)="unsubscribe(book)">Unsubscribe</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>