<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
    <!-- Section: Links  -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom mt-3">
    </section>
    <!-- Section: Links  -->
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        Product Management System
    </div>
    <div class="text-center p-4">
        <span>Developed by Rishav Roy</span>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->