<div class="hero">
    <div class="container">
        <div class="form-box rounded-3" style="padding: 20px;">
            <form class="form-group" [formGroup]="registerForm" (ngSubmit)="addProducttodb(registerForm)">
                <div class="row">
                    <div class="form-group">
                        <label for="name">Product Name :</label>
                        <input type="text" id="title" class="form-control" formControlName="name"
                            placeholder="Product Name">
                        <div class="form-text text-danger"
                            *ngIf="ProductName.errors?.['required'] && (ProductName.dirty || ProductName.touched)">
                            Product Name is Required.
                        </div>
                        <div class="form-text text-danger"
                            *ngIf="ProductName.errors?.['pattern'] && (ProductName.dirty || ProductName.touched)">
                            Numbers not allowed.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="description">Product Description :</label>
                        <input type="text" id="description" class="form-control" formControlName="description"
                            placeholder="Description">
                        <div class="form-text text-danger"
                            *ngIf="ProductDescription.errors?.['required'] && (ProductDescription.dirty || ProductDescription.touched)">
                            Product Description is Required.
                        </div>
                        <div class="form-text text-danger"
                            *ngIf="ProductDescription.errors?.['pattern'] && (ProductDescription.dirty || ProductDescription.touched)">
                            Numbers not allowed.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="price">Product Price :</label>
                        <input type="number" id="price" class="form-control" formControlName="price"
                            placeholder="Product Price">
                        <div class="form-text text-danger"
                            *ngIf="ProductPrice.errors?.['required'] && (ProductPrice.dirty || ProductPrice.touched)">
                            Product Price is Required.
                        </div>
                        <div class="form-text text-danger"
                            *ngIf="ProductPrice.errors?.['pattern'] && (ProductPrice.dirty || ProductPrice.touched)">
                            Characters not allowed.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <input type="submit" [disabled]="registerForm.invalid" value="Add Product"
                            class="btn btn-primary w-100 mt-2">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>