.hero{
    height:100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url(https://media.nbclosangeles.com/2019/09/miami-dade-public-library.jpg?quality=85&strip=all);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin-bottom: -20px;
}
.form-box{
    width: auto;
    height: auto;
    position: relative;
    margin:6% auto;
    background: whitesmoke;
    padding: 5px;
}
.container {
    position: relative;
    padding-bottom: 58px;
    padding-top: 20px;
    min-height: auto;
    width: auto;
}
